<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../login/login.css" rel="stylesheet" type="text/css">
</head>

<body>
    <form>
        <div id="form">
            <h1>Register</h1>
            <div>
                <input id="fullname" class="text" type="text" name="user" placeholder="Fullname" required />
            </div>
            <div class="username-container">
                <input id="username" class="text" type="text" name="user" placeholder="Username" onchange="" required />
                <div id="username-exist" class='invalid-feedback has-error-min' style='display: none;'>Username has
                    already be used!</div>
            </div>
            <div>
                <input id="password" class="text" type="password" name="pass" placeholder="Password" required />
            </div>
            <div>
                <input id="password-confirm" class="text" type="password" name="pass" placeholder="Password Confirm"
                    required />
            </div>
            <div class="email-container">
                <input id="email" class="text" type="email" name="email" placeholder="Email" required />
                <div id="email-exist" class='invalid-feedback has-error-min' style='display: none;'>Email has already be
                    used!</div>
            </div>
            <div>
                <div id="notifySuccess" class='invalid-feedback has-error-min' style='display: none;'>Register successful!</div>
            </div>
            <div class="group-button">
                <input id="login-button" type="button" name="submit" value="Login" class="submit-button" />
                <input id="register-button" type="submit" name="submit" value="Register" class="submit-button" />
            </div>
        </div>
    </form>

    <script src="../../common/jquery/preset.js"></script>
    <script src="../../common/jquery/jquery.min.js"></script>
    <script src="../../common/js/bootstrap-validate.js"></script>
    <script>
        bootstrapValidate('#fullname', 'regex:^[a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶ ẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợ ụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\\s]+$:Enter a valid name!');
        bootstrapValidate('#username', 'regex:^[a-z0-9_.-]{3,16}$:Enter a valid username');
        bootstrapValidate('#password', 'regex:^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,50}$:Password is not strong enough!');
        bootstrapValidate('#password-confirm', 'matches:#password:Your password should match!');
        bootstrapValidate('#email', 'email:Enter a valid email address!');
    </script>
    <script>
        require('./register.js');
    </script>

</body>

</html>