table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.right {
    width: 100%;
    margin: auto;
    margin-left: -100px;
}

.right-top {
    margin-bottom: 50px;
}

input[type=text] {
    width: 100px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 3px 3px 3px 8px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 30%;
}

#btn-add {
    background-color: silver;
    margin-left: 30px;
}

#div-course, #div-question, #div-answer {
    display: none;
}

#input-search {
    color: blue;
}

.th-1 {
    width: 30px;
}

.th-2 {
    width: 80px;
}

#btn-email {
    background-color: #ccc;
}

/* Alert */
.alert {
    overflow: auto;
    max-height: 100vh;
    position: absolute;
    margin-left: 350px;
    width: 450px;
    z-index: 10;
    margin-top: 5px;
    /* display: none; */
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#alert, strong {
    opacity: 0;
}

table {
    margin-left: -30px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
}