body {
    font-family: 'Baloo Bhai', cursive;
    width: 98%;
    background: url(../../common/img/counter.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#form {
    border: 5px solid white;
    border-radius: 5%;
    background: transparent;
    width: 300px;
    text-align: center;
    margin: 100px auto;
}

#form h1 {
    color: white;
}

#form input {
    color: #238758;
    padding: 1em;
    margin: 5px;
    background: white;
    border: 2px solid white;
    border-radius: 3%;
    font-family: 'Baloo Bhai', cursive;
}

#form .text {
    width: 250px;
    height: 2px;
}

#form .submit-button {
    background: transparent;
    margin: 15px;
    color: white;
    width: 35%;
    padding: 5px;
    border: 3px solid;
    border-radius: 7%;
}

.group-button {
    display: inline-block;
    width: 300px;
}

#notifySuccess {
    color: green;
    font-size: 18px;
}

/* gujarati */

@font-face {
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 400;
    src: local('Baloo Bhai Regular'), local('BalooBhai-Regular'), url(https://fonts.gstatic.com/s/baloobhai/v4/ZgNWjP5GM7bCUdmXgWyVvHnOMrCO.woff2) format('woff2');
    unicode-range: U+0964-0965, U+0A80-0AFF, U+200C-200D, U+20B9, U+25CC, U+A830-A839;
}

/* vietnamese */

@font-face {
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 400;
    src: local('Baloo Bhai Regular'), local('BalooBhai-Regular'), url(https://fonts.gstatic.com/s/baloobhai/v4/ZgNWjP5GM7bCUdmXgWyVvG3OMrCO.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 400;
    src: local('Baloo Bhai Regular'), local('BalooBhai-Regular'), url(https://fonts.gstatic.com/s/baloobhai/v4/ZgNWjP5GM7bCUdmXgWyVvGzOMrCO.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 400;
    src: local('Baloo Bhai Regular'), local('BalooBhai-Regular'), url(https://fonts.gstatic.com/s/baloobhai/v4/ZgNWjP5GM7bCUdmXgWyVvGLOMg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}