<!-- 
Hover or Click in each element to see flip and bounceInLeft Effects.
Best view in full preview.
 -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" type="text/css" href="./course.css">
</head>

<body>

    <div class="responsive">
        <div id="navibar" class="navibar">
            <div class="profile">

            </div>
            <div class="title-course">
                <h1>COURSES</h1>
            </div>
            <div>
                <button id="logout-button" class="btn draw-border">Logout</button>
            </div>
        </div>
        <ul id="course-list" class="content">
            <!-- <li></li> -->
        </ul>
    </div>
    <script src="../../common/jquery/preset.js"></script>
    <script src="../../common/jquery/jquery.min.js"></script>
    <script>
        require('./course.js');
    </script>

</body>

</html>